.index-image {
    background-image: url("../images/index-cover-photo.jpeg");
    background-image: no-repeat;
    background-image: center;
    background-color: #15BFF0;
}

.section-1 div {
    width: 100%;
    height: 900px;
}